* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    padding: 0;
    margin: 15px;
}

h1 {
    margin: 25px 0px 25px 0px;
    text-align: center;
    font-size: 1.75em;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

p.content {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    clear: right;
}

.box {
    background-color: #949494;
    margin: 1%;
}

.title {
    left: 1px;
    bottom: 1px;
    border: 1px solid black;
    text-align: center;
    position: relative;
    float: right;
    width: 140px;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 5px;
}

#chicken {
    background-color: #cf9494;
}

#beef {
    background-color: #bb4844;
    color: white;
}
#sushi {
    background-color: #ded095;
}

/* large devices */
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        border: 1px solid;
        width: 31.33%;
    }
}

/* medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
        border: 1px solid;
    }
    .col-md-6 {
        width: 48%;
    }
    .col-md-12 {
        width: 98%;
    }
}

/* small devices */
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        border: 1px solid;
        width: 98%;
    }
}